<!-- Footer Start -->
<style>
    /* Add this CSS to your existing styles */
    a:hover #svg path {
        fill: black;
        /* Change to the desired color */
    }
</style>
<div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-12 mb-4">
                <a href="/" class="navbar-brand m-0">
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">i</span>CANDLE
                    </h1>
                </a>
            </div>
            <div class="col-12 mb-4">

                <a class="btn btn-outline-secondary btn-social mr-2"
                    href="https://m.facebook.com/people/Ilhem_candles/100083310916285/" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-secondary btn-social mr-2" href="https://www.tiktok.com/@ilhem_candles"
                    target="_blank"><svg id="svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22px"
                        height="22px" viewBox="0,0,256,256">
                        <g fill="#62C3E7" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal;">
                            <g transform="scale(5.33333,5.33333)">
                                <path
                                    d="M11.5,6c-3.01977,0 -5.5,2.48023 -5.5,5.5v25c0,3.01977 2.48023,5.5 5.5,5.5h25c3.01977,0 5.5,-2.48023 5.5,-5.5v-25c0,-3.01977 -2.48023,-5.5 -5.5,-5.5zM27.5,11c0.83,0 1.5,0.67 1.5,1.5c0,3.03 2.47,5.5 5.5,5.5c0.83,0 1.5,0.67 1.5,1.5c0,0.83 -0.67,1.5 -1.5,1.5c-2.1,0 -4.02,-0.75953 -5.5,-2.01953v10.01953c0,4.41 -3.59,8 -8,8c-4.41,0 -8,-3.59 -8,-8c0,-4.41 3.59,-8 8,-8c0.21,0 0.41914,0.00953 0.61914,0.01953c0.83,0.07 1.45086,0.79133 1.38086,1.61133c-0.06,0.83 -0.77938,1.44867 -1.60937,1.38867c-0.13,-0.01 -0.26063,-0.01953 -0.39062,-0.01953c-2.76,0 -5,2.24 -5,5c0,2.76 2.24,5 5,5c2.76,0 5,-2.24 5,-5v-16.5c0,-0.83 0.67,-1.5 1.5,-1.5z">
                                </path>
                            </g>
                        </g>
                    </svg></a>
                <a class="btn btn-outline-secondary btn-social" href="https://www.instagram.com/ilhem_candles/"
                    target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                        <h5 class="font-weight-bold mb-2">Get In Touch</h5>
                        <p class="mb-2">Stade elnedjma, Ain defla, Algeria</p>
                        <p class="mb-0">+213 782508523</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <h5 class="font-weight-bold mb-2">Opening Hours</h5>
                        <p class="mb-2">Everyday, 8AM – 5PM</p>
                        <p class="mb-0">Friday: 12Am</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Footer End -->