<% layout('layouts/productheader') %>
    <style>
        /* Center the text horizontally and vertically */
        .centered-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* This sets the height to 100% of the viewport height for vertical centering */
            text-align: center;
            /* Center the text horizontally */
        }

        /* Style the text with blue color */
        h2 {
            margin: 200px;
            /*color: #62C3E;*/
            color: #62C3E7;
            margin-left: 600px;

        }
    </style>
    <div>
        <h2>404 page not found</h2>
    </div>