<% layout('layouts/test') %>
    <style>
        /* Center the text horizontally and vertically */
        .centered-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            /* This sets the height to 100% of the viewport height for vertical centering */
            text-align: center;
            /* Center the text horizontally */
        }

        /* Style the text with blue color */
        h2 {
            margin: auto;
            /*color: #62C3E;*/
            color: #62C3E7;


        }

        @media screen and (max-width: 440px) {
            .centered-text {
                display: flex;
                justify-content: center;
                align-items: center;

                /* This sets the height to 100% of the viewport height for vertical centering */
                text-align: center;
                /* Center the text horizontally */
            }

            /* Style the text with blue color */
            h2 {
                margin: auto;

                /*color: #62C3E;*/
                color: #62C3E7;


            }
        }
    </style>
    <div class="centered-text">
        <h2>404 page not found</h2>
    </div>