<% layout('layouts/test' )%>

    <%= succes %>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
            rel="stylesheet">

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <!--<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">-->

        <!-- Header Start -->
        <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
            <div class="container text-center py-5">
                <h1 class="text-white display-3 mt-lg-5">About</h1>
                <div class="d-inline-flex align-items-center text-white">
                    <p class="m-0"><a class="text-white" href="/">Home</a></p>
                    <i class="fa fa-circle px-3"></i>
                    <p class="m-0">About</p>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h1 class="section-title position-relative text-center mb-5">✨ ʙᴇᴀᴜᴛɪғᴜʟ ɢɪғᴛs ғᴏʀ ʙᴇᴀᴜᴛɪғᴜʟ
                            ʜᴇᴀʀᴛs✨
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 py-5">
                        <h4 class="font-weight-bold mb-3">About Us</h4>
                        <h5 class="text-muted mb-3">Ilhem Candle is a small online business that specializes in selling
                            candles in various colors and shapes, designed to bring warmth and coziness to your home. ❤️
                        </h5>

                        <p>Ilhem Candle is a small online business that offers an array of exquisite candles in various
                            colors and shapes. Our handcrafted candles are designed to infuse warmth and charm into your
                            living spaces, creating a cozy ambiance. Explore our carefully curated selection to find the
                            perfect candle for any occasion.</p>


                        <a href="#best-services" class="btn btn-secondary mt-2">Learn More</a>

                    </div>
                    <div class="col-lg-4" style="min-height: 400px;">
                        <div class="position-relative h-100 rounded overflow-hidden">
                            <img class="position-absolute w-100 h-100"
                                src="https://res.cloudinary.com/dgs4gikav/image/upload/v1694882631/Ilhemcandle/RedLove.jpg"
                                style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-4 py-5">
                        <h4 class="font-weight-bold mb-3">Our Features</h4>
                        <p>Discover the outstanding features of Ilhem Candles, where quality and craftsmanship meet
                            elegance
                            and charm. Our handcrafted candles are thoughtfully designed to elevate your ambiance and
                            create
                            a delightful experience. Explore our unique qualities that we provide:</p>

                        <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Exquisite
                            Craftsmanship
                        </h5>
                        <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Rich Variety of
                            Colors
                            and Shapes</h5>
                        <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Warmth and Coziness
                            for
                            Your Home</h5>

                        <a href="/products" class="btn btn-primary mt-2">Check products</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->







        < <!-- Back to Top -->
            <a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/isotope/isotope.pkgd.min.js"></script>
            <script src="lib/lightbox/js/lightbox.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/isotope/isotope.pkgd.min.js"></script>
            <!-- <script src="lib/lightbox/js/lightbox.min.js"></script> -->

            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
            </body>

            </html>